<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Domotica.Domotica" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" /> <---- NODIG
	<uses-permission android:name="android.permission.DEVICE_POWER" /> <---- NODIG
	<uses-permission android:name="android.permission.WAKE_LOCK" />  <---- NODIG
	<uses-permission android:name="android.permission.VIBRATE" />   <---- NODIG
	<application android:label="Domotica" android:icon="@drawable/Icon"></application>
	<receiver android:name="OneShotAlarm">
		<intent-filter>
			<action android:name="android.intent.action.Alarm" />
			<data android:scheme="package" android:ssp="monodroid.apidemo" />
		</intent-filter>
	</receiver>	
</manifest>